*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin-top: 40px;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.text-center{
    text-align: center;
}

.logo{
    height: 70px;
    margin-top: 40px;
}

.new-task {
    margin-top: 40px;
}

.new-task input{
    padding: 10px;
    margin-right: 20px;
    min-width: 300px;
}

.task-list ul{
    list-style: none;
}

.task-list li{
    border-bottom: 1px solid blue;
    padding: 10px 5px;
    display: flex;
}

.task-text{
    flex-grow: 1;
}

.done{
    text-decoration: line-through;
}

.error{
    color: red;
}


